@import '../butget/Butget.module.css'; 

/* Añadir estilos específicos si es necesario */

.discount {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.discount input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 8px;
    width: 100px;
}
